USE [master]
GO
/****** Object:  Database [TesteTecnico]    Script Date: 01/05/2024 21:03:28 ******/
CREATE DATABASE [TesteTecnico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TesteTecnico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteTecnico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TesteTecnico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteTecnico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TesteTecnico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TesteTecnico]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/05/2024 21:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [nome], [email], [senha], [admin]) VALUES (38, N'admin', N'admin@admin.admin', N'admin', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
